.producto-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    flex-wrap: wrap;
}

.producto-card {
    margin: auto;
    border-radius: 8px;
    margin-top: 70px;
    background: var(--white, #FFF);
    width: 625px;
    padding: 0px 40px 40px 40px;
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.06);
}

.producto-imagen {
    position: relative;
    top: -43px;
    border-radius: 8px;
    background: var(--brand-primary, #009FDE);
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
}


.producto-title {
    color: var(--gray-900, #131022);
    font-family: Manrope, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
}

.producto-text {
    color: var(--gray-700, #585C7B);
    font-family: Manrope,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.producto-icon-container {
    color: var(--brand-primary, #009FDE);
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    transition: 0.5s;
}
.producto-icon-container:hover{
    transform: scale(1.05);
    margin-left: 20px;
}

.producto-check {
    display: flex;
    padding: 5px 0;
}

.producto-icon {
    margin-right: 5px;
}