.carousel-marcas-clientes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin: auto;
  padding: 20px 0;
}

.carousel-marcas-clientes .carousel-item {
  flex: 0 0 calc(33.33% - 10px); /* Ajusta el ancho de cada elemento según tus necesidades */
  margin: auto; /* Ajusta el margen entre los elementos según tus necesidades */
}

.carousel-marcas-clientes .carousel-image {
  width: auto;
  height: 100%;
  margin: auto;
  max-height: 100px;
}

.carousel-marcas-clientes .carousel-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .carousel-marcas-clientes {
    width: 90%;
  }
  .carousel-marcas-clientes .carousel-item {
    flex: unset;
  }

}
.hero-marcas > div{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}