.subscription-component {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  margin: auto;
}

.subscription-card {
  width: 360px;
  min-height: 544px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.06);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}


.subscription-plan {
  font-size: 23px;
  opacity: 60%;
}

.subscription-pricecredits {
  opacity: 60%;
}

.subscription-caracteristics {
  align-items: left;
  margin-top: 15px;
}

.subscription-price {
  font-size: 32px;
  font-weight: 800;
}

.subscription-card-header {
  display: flex;
  flex-direction: column;
align-items: center;
}

.subscription-hr {
  color: black;
  height: 8px;
  size: 8px;
  width: 100%;
}

.subscription-card-button {
  border-radius: 6px;
  background: var(--brand-primary, #009FDE);
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-top: 15px;
  transition: 0.5s;
  padding: 10px 20px;
}

.subscription-card-button:hover {
  background-color: #0099CC;
  box-shadow: 0px 8px 18px -8px rgba(99, 101, 241, 0);
  transition: 0.5s;
}


.subscription-popup {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.subscription-popup-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}


.subscription-popup-content-button {
  height: 52px;
  border-radius: 6px;
  background: var(--brand-primary, #009FDE);
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
  min-width: 225px;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.subscription-close-button {
  position: relative;
  left: 49%;
  bottom: 13px;
  width: 30px;
  height: 30px;
  background-color: #009fde  !important;
  color: #FFFFFF;
  padding: 1px !important;
  border-radius: 18px !important;
}


.subscription-caracteristics svg {
  margin-right: 15px;
}