.tablabusqueda-head {
    background-color: #0099cc;
    color: white;
    text-align: center;
    height: 45px;
}

.tablabusqueda-tabla {
    text-align: center;
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    margin: auto;
    margin-bottom: 0px;
    width: 100%;
min-width: 1100px;
}


.tablabusqueda-container-button {
    margin: 0px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #0099CC;
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    border-bottom-left-radius: 6PX;
    border-bottom-right-radius: 6PX;
}

.tablabusqueda-button {
    border-radius: 6px;
    margin: 10px;
    border: 1px solid #009FDE;
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    min-width: 99px;
    color: #0099CC;
    text-align: center;
    background-color: white;
    font-size: 14px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    transition: 0.5s;
    padding: 9px 20px;
    line-height: 18px;
}

.tablabusqueda-button:hover {
    transform: scale(0.90);
}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #0099cc12;
}

.tablabusqueda-esquinaizquierda {
    border-top-left-radius: 6px;
    max-width: 76px;
}

.tablabusqueda-esquinaizquierda:hover {
    background-color: #00749b;
}

.tablabusqueda-esquinaderecha {
    border-top-right-radius: 6px;
}

p {
    text-align: center;
}

.tablabusqueda-page-number {
    color: white;
}

.search-filter-table {
    display: flex;
    margin: auto;
    height: 49px;
    text-align: center;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.12);
    width: 100%;
    margin-bottom: 20px;
}


.table-row:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.38);
}


.container-tablabusqueda {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.city-list {
    min-width: 250px;
}

.city-list-input {
    margin: 5px;
}

.city-list-label {
    text-transform: capitalize !important;
}

.buscador-filtros {
    margin: 15px;
    margin-top: 0px;
    max-width: 250px;
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.12);
    height: min-content;
    padding: 20px;
    border-radius: 6px;
}

.buscador-filtros-h3 {
    width: 100%;
    height: 30px;
    background-color: #0099CC;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.buscador-filtros-h4 {
    width: 100%;
    height: 30px;
    color: #0099CC;
    font-weight: 700;
    margin-top: 25px;
}

.count {
    color: rgba(0, 0, 0, 0.568);
}

.year-list {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.year {
    width: 100px;
}

.year-list-input {
    margin: 5px;
}

.buscador-tabla-container {
    max-width: 85vw;
}

.open {
    font-weight: 700;
}

.city-dropdown-content {

    font-weight: 600;
}

.clear-filters-button {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    color: #0099CC;
}

.clear-filters-button:hover{
    color: red;
}


@media only screen and (max-width: 525px) {
    .buscador-tabla-container {
       overflow-x: scroll;
    }
}