.seccion-suscripcion {
    padding: 70px 0 50px 0;
}

.seccion-suscripcion>div {
    display: flex;
    max-width: 1300px;
    padding: 20px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

body>div.hero-back>section.seccion-suscripcion>div>div:nth-child(1) {
    max-width: 500px;
}

.seccion-suscripcion-encabezado>h2 {
    font-size: 32px;
    font-weight: 800;
    max-width: 700px;
    margin: 0 auto 30px auto;
    line-height: 34px;
    color: #131022;
    text-align: start;
}

.seccion-suscripcion-encabezado>p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    max-width: 600px;
    color: #585C7B;
}

.seccion-suscripcion-tipo {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.seccion-suscripcion-tipo-empresa,
.seccion-suscripcion-tipo-persona {
    text-align: -webkit-center;
    height: fit-content;
    background-color: #ffffff;
    max-width: 570px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.06);
    border-radius: 8px;
}

.seccion-suscripcion-tipo-empresa>h4,
.seccion-suscripcion-tipo-persona>h4 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #131022;
}

.seccion-suscripcion-tipo-empresa>p,
.seccion-suscripcion-tipo-persona>p {
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: initial;
    color: #585C7B;
    text-align: start;
}

.seccion-suscripcion-tipo-empresa>a,
.seccion-suscripcion-tipo-persona>a {
    margin-right: 10px;
    font-weight: 600;
    color: #009FDE;
    margin-left: 10px;
}


.suscripcion-imagen {
    max-width: 1300px;
}

.suscripcion-imagen>img {
    margin: auto;
    max-width: 90%;
}

.seccion-suscripcion-marcas-titulo>h4 {
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 25px;
    color: #009FDE;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {

    .seccion-suscripcion-tipo-empresa,
    .seccion-suscripcion-tipo-persona {
        margin: 30px 20px;
    }

    .suscripcion-imagen {
        height: auto;
    }

    .seccion-suscripcion-tipo {
        max-height: max-content;
    }
}