.seccion-empresas{

}
.seccion-empresas > div  .tipos-consultas-head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.seccion-empresas > div  .tipos-consultas-head-title {
    color: var(--brand-primary, #009FDE);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    padding: 10px 0;
}

.seccion-empresas > div  .tipos-consultas-head-subtitle {
    color: var(--gray-900, #131022);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    padding: 10px 0;
}

.seccion-empresas > div  .tipos-consultas-head-text {
    color: var(--gray-700, #585C7B);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width: 500px;
    padding: 10px 0;
}
.aliados-contenido{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.aliados-contenido > h4{
    font-size: 24px;
    font-weight: 800;
    margin: 10px auto;
}