.seccion-empresas > div  .tipos-consultas-head-container {
    margin: auto;
}
.seccion-empresas > div  .tipos-consultas-head-title {
    color: var(--brand-primary, #131022);
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    padding: 10px 0;
}
.seccion-empresas .empresas-marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.seccion-empresas .empresas-marcas img{
    max-width: 33%;
}
.seccion-empresas .aliados-contenido{
    padding: 0 20px;
}
@media only screen and (max-width: 525px) {
    .seccion-empresas .empresas-marcas img{
        max-width: 100%;
    }
}