
.hero-grid{
    padding: 50px 0 0 0;
  }

.hero-short-title {
    color: var(--brand-primary, #009FDE);
    text-align: center;
    font-size: 42px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    max-width: 1076px;
    padding: 0 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-description {
    color: var(--gray-700, #585C7B);
    text-align: center;
    font-size: 18px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width: 1076px;
    padding: 0 20px;
}

.hero-button {
    height: 52px;
    border-radius: 6px;
    background: var(--brand-primary, #009FDE);
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
    min-width: 225px;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-top: 15px;
    transition: 0.5s;
}


.hero-button:hover {
    background-color: #0099CC;
    box-shadow: 0px 8px 18px -8px rgba(99, 101, 241, 0);
    transition: 0.5s;
}


.hero-icon-container {
    color: var(--brand-primary, #009FDE);
    text-align: center;
    font-size: 14px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    display: flex;
}

.hero-short-input {
    width: 90%;
    max-width: 500px;
    height: 49px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.12);
}

.hero-short-input ::placeholder {
    color: var(--gray-600, #9397AD);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}