
.hero-grid{
    padding: 50px 0 0 0;
  }

.hero-short-title {
    color: var(--brand-primary, #009FDE);
    text-align: center;
    font-size: 42px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    max-width: 1076px;
    padding: 0 20px;
}
h2.hero-short-title {
    color: var(--brand-primary, #009FDE);
    text-align: center;
    font-size: 35px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    max-width: 1076px;
    padding: 0 20px;
}
.hero-short-title-movil {
    color: var(--brand-primary, #009FDE);
    text-align: center;
    font-size: 30px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    max-width: 1076px;
    padding: 0 20px;
    display: none;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-description {
    color: var(--gray-700, #585C7B);
    text-align: center;
    font-size: 18px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width: 570px;
    padding: 0 20px;
}

.hero-button {
    border-radius: 6px;
    background: var(--brand-primary, #009FDE);
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.5s;
    padding: 15px 30px;
}


.hero-button:hover {
    box-shadow: 0px 8px 18px -8px rgba(99, 101, 241, 0);
    transform: scale(0.95);
}
.hero-buscador-btn {
    width: 90%;
    max-width: 500px;
    height: 49px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.12);
    transition: 0.5s;
}
.hero-buscador-btn:hover {
    box-shadow: 0px 8px 18px -8px rgba(99, 101, 241, 0);
    transform: scale(0.95);
}
.hero-buscador-contenedor{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.hero-buscador-btn svg{
    position: relative;
    margin: 0 6vw 0 -7vw;
}

.hero-icon-container {
    color: var(--brand-primary, #009FDE);
    text-align: center;
    font-size: 14px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    display: flex;
    transition: 0.5s;
}
.hero-icon-container svg {
    height: 20px;
}
.hero-icon-container:hover{
    transform: scale(1.05);
    margin-left: 20px;
}

.hero-short-input {
    width: 90%;
    max-width: 500px;
    height: 49px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px 4.400000095367432px 12px -1px rgba(19, 16, 34, 0.12);
}
.hero-short-input:focus{
    box-shadow: 0px 2px 6.400000095367432px -1px rgba(25, 168, 225, 0.1), 0px 4.400000095367432px 12px -1px rgba(25, 168, 225, 0.2);
    outline: none; /* Esto quita el contorno predeterminado en algunos navegadores */
    border: none;
}
.hero-short-input ::placeholder {
    color: var(--gray-600, #9397AD);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.icon-search{
    position: relative;
    left: -220px;
    top: 35px;
    color: #9397AD;
}
@media only screen and (max-width: 525px) {
    .hero-short-title-movil {
        display: block;
    }
    .hero-short-title {
        display: none;
    }
    .icon-search{
        left: -130px;
    }
}
.tipos-consultas-head-title {
    color: var(--brand-primary, #131022);
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    padding: 10px 0;
    text-align: center;
}
.empresas-marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.empresas-marcas >div{
    max-width: 13%;
}
.aliados-contenido{
    padding: 0 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 525px) {
    .empresas-marcas > div{
        max-width: 70%;
        padding: 20px;
        margin: auto;
    }
}