@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

.hamburger-menu{
  padding: 9px 20px;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  padding: 0;
}

.hamburger-button span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #0099CC;
}

/* Estilos para el popup */
.popup {
  position: fixed;
  top: 0px; /* Ajusta la distancia desde la parte superior según sea necesario */
  right: 0px; /* Ajusta la distancia desde la parte derecha según sea necesario */
  transform: translate(0, 0);
  background-color: white;
  z-index: 10000;
  animation: fade-in 0.3s forwards;
    color: var(--gray-800, #3E4265);
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
  border-bottom-left-radius: 6px;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
}
.popup .sub-menu{
  padding-left: 25px;
  font-weight: 400;
  text-transform: none;
}
.popup-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  margin: 10px 0;
}
.popup .popup-header > .nav-image-mobile > img{
  width: auto;
  height: 100px;
}
.popup-header > a{
  padding: 15px;
}
@keyframes fade-in {
  from {
    opacity: 0;
    right: -100%; /* Inicio fuera de la pantalla hacia la derecha */
  }
  to {
    opacity: 1;
    right: 0px; /* Posición final ajustada */
  }
}



.popup > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 50%;
  overflow-y: scroll;
  padding: 0 25px;
} 

.popup > ul li {
  color: var(--gray-800, #3E4265);
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 10px 0;
}
.popup-menu-title > a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-menu-title > a > span{
  margin-right: 20px;
}

.popup button {
  display: block;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  min-width: 170px;
  color: #ffffff;
  background-color: #0099CC;
  text-align: center;
  font-size: 14px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 600;
  transition: 0.5s;
  padding: 9px 20px;
  line-height: 18px;
}

.popup button:hover {
  background-color: #999;
}
.popup ul li.perfil > .login-container .login-container-movil > .logout-button{
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
  z-index: 9999; /* Asegúrate de que la capa overlay esté por encima de otros elementos */
}
.popup-footer{
  position: fixed;
  bottom: 0%;
  padding: 25px;
  width: -webkit-fill-available;
  text-align: -webkit-center;
  box-shadow: 0px -2px 6.400000095367432px -1px rgba(19, 16, 34, 0.03), 0px -4.6px 12px -1px rgba(19, 16, 34, 0.06);
}
.popup-footer > .login-container{
  margin-bottom: 20px;
}
.popup-footer > .login-container > div  button{
  background-color: #ffffff;
  color: #0099CC;
  padding: 15px 45px;
  margin: 10px 0;
  width: max-content;
}
.popup-footer > .login-container > div > button svg{
  color: #0099CC !important;
}
.popup-footer > .login-container > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.popup-footer > .login-container .login-container-movil .popup-menu-title{
  display: none;
}
.popup > ul > li.perfil > div > div > button{
  display: none;
}
@media (min-width: 525px) {
  .hamburger-menu {
    display: none;
  }
}