.seccion-aliados{

}
.aliados-contenido{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.aliados-contenido > div > h4{
    font-size: 24px;
    font-weight: 800;
    margin: 10px auto;
    color: #585C7B;
}

.empresas-marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.empresas-marcas > div{
    max-width: 13%;
}
.empresas-marcas > div > img{
    min-width: 120px;
}
.aliados-contenido{
    padding: 0 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 525px) {
    .empresas-marcas > div{
        max-width: 70%;
        padding: 20px;
        margin: auto;
    }
}