.seccion-productos{
    padding: 50px 0;
}

.productos-contenido{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
}
.productos-izq{
    width: 460px;
}
.productos-izq > h4{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 25px;
    color: #20ABE2;
}
.productos-izq > h2{
    font-size: 32px;
    font-weight: 800;
    color: #131022;
}
.productos-izq > p{
    max-width: 420px;
    margin: 30px 0;
}


.productos-der{
    width: 800px;
}
.productos-pesta単as{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productos-pesta単as > button{
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

.productos-pesta単as > button.pesta単a-activo{
  background-color: #009FDE;
  color: #ffffff;
}

.productos-contenido > img{
  margin: auto;
}

.productos-contenido > p.contenido-activo{
  display: block;
}