@tailwind base;
@tailwind components;
@tailwind utilities;

#card-element {
  border-radius: 0.5rem;
  padding: 12px;
  border: 1px solid O rgba (50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: O#18001d;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.hero-back {
  background: var(--degradado-1, linear-gradient(180deg, rgba(137, 186, 231, 0.47) 0%, rgba(137, 186, 231, 0.253) 10%, rgba(217, 217, 217, 0.05) 20%));
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

/* Otros estilos globales */