@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

.plans-back {
    background: var(--degradado-1, linear-gradient(180deg, rgba(137, 186, 231, 0.47) 0%, rgba(137, 186, 231, 0.253) 10%, rgba(217, 217, 217, 0.05) 20%));
    min-height: 100vh;
}
.contactanos-section{
    max-width: 1300px;
    margin: auto;
}
.contactanos-section > div{
    max-width: 600px;
}