.seccion_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    flex-wrap: wrap;
    max-width: 1300px;
}
.seccion_2 > .content-izq{
    max-width: 545px;
    padding: 20px;
}
.seccion_2 > .content-izq > h2{
    color: #0196D2;
    font-size: 24px;
    margin-bottom: 10px;
}

.seccion_2 > .content-izq > h3{
    color: #131022;
    font-size: 32px;
    margin-bottom: 10px;
}

.seccion_2 > .content-izq > img{
    margin: auto;
}

.seccion_2 > .content-izq > p{
    color: #C5C7D2;
    font-size: 16px;
    margin-bottom: 10px;
} 

.seccion_2 > .content-der{
    max-width: 550px;
}

.seccion_2 > .content-der > .beneficio{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.seccion_2 > .content-der > .beneficio > div >  img{
    min-width: 48.5px;
}

.seccion_2 > .content-der > .beneficio > div >  h4{
    font-size: 20px;
}

.seccion_2 > .content-der > .beneficio > div > p{
    font-size: 16px;
}  
