.payerror {
  background-color: red;
  color: white;
  padding: 10px;
}


.checkoutform-button {
  height: 42px;
  border-radius: 6px;
  background: var(--brand-primary, #009FDE);
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
  min-width: 225px;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-top: 15px;
  transition: 0.5s;
  padding: 0 15px;
}


.checkoutform-button:hover {
  background-color: #0099CC;
  box-shadow: 0px 8px 18px -8px rgba(99, 101, 241, 0);
  transition: 0.5s;
}

div.facturacion > .campo{
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  align-items: flex-start;
}
div.facturacion > .campo > label{
  display: none;
}
div.facturacion > .campo > input{
  width: 100%;
  border-bottom: 1px solid #00000050;
}
/* Estilo cuando el input está enfocado (hace clic en él) */
div.facturacion > .campo > input:focus {
  border-bottom: 2px solid #007bff; /* Cambia el borde cuando el input está enfocado */
  outline: none; /* Elimina el contorno por defecto del input */
  box-shadow: 0 0 1px 0 #007bff; /* Agrega una sombra cuando el input está enfocado */
}
div.tarjeta-pago{
  box-shadow: 0 -1px 1px 0px #00000050;
  margin-top: 20px;
  padding: 0 20px;
}
#container-card-element > div > div.credit-component > div > div > div > div > div > p,
div.tarjeta-pago > p{
  font-size: 16px;
}