.pasarela {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.checkoutform-container-button {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tarjeta-pago {
    background-color: rgba(0, 0, 0, 0.023);
    height: 55px;
}

#facturacionCheckbox{
    margin-right: 5px;
}