.precarga{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: #d3e6f7;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.precarga .animacion img {
    animation: pulse 1.5s ease-in-out infinite;
}
    