.seccion-recursos{
    padding: 50px 0;
}
.seccion-recursos > div{
    width: 1300px;
    margin: auto;
}
.seccion-recursos > div > .seccion-recursos-superior{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seccion-recursos > div > .seccion-recursos-superior > .seccion-recursos-superior-izq > h4{ 
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #20ABE2;
}
.seccion-recursos > div > .seccion-recursos-superior > .seccion-recursos-superior-izq > h2{ 
    font-size: 32px;
    font-weight: 800;
    max-width: 600px;
    color: #131022;
}
.seccion-recursos > div > .seccion-recursos-superior > .seccion-recursos-superior-izq > p{ 
    max-width: 420px;
    margin: 30px 0;
}

.seccion-recursos > div > .seccion-recursos-superior,
.seccion-recursos > div > .seccion-recursos-inferior{
    padding: 50px 0;
}

.seccion-recursos > div > .seccion-recursos-inferior{
    display: flex;
    justify-content: space-between;
}
.seccion-recursos > div > .seccion-recursos-inferior > .seccion-recursos-inferior-cont{
    max-width: 570px;
    padding: 20px 20px 20px 20px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.seccion-recursos > div > .seccion-recursos-inferior > .seccion-recursos-inferior-cont > h4{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 10px;
}
.seccion-recursos > div > .seccion-recursos-inferior > .seccion-recursos-inferior-cont > p{   
    margin-bottom: 20px;
    margin-left: 10px;
}

.seccion-recursos > div > .seccion-recursos-inferior > .seccion-recursos-inferior-cont > a{  
    margin-right: 10px;
    font-weight: 600;
    color: #009FDE;
    margin-left: 10px;
}

.hero-button {
    height: 52px;
    border-radius: 6px;
    background: var(--brand-primary, #009FDE);
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
    min-width: 225px;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-top: 15px;
    transition: 0.5s;
}