.seccion-contactanos{
    padding: 50px 0;
}
.seccion-contactanos .contactanos-contenido{
    margin: auto;
    padding: 0 20px;
}
.seccion-contactanos .seccion-titulo{
  max-width: 580px;
}
.seccion-contactanos .seccion-titulo > h4{
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #0092FF;
}
.seccion-contactanos .seccion-titulo > h2{
  font-size: 42px;
  font-weight: 800;
  color: #131022;
}
.seccion-contactanos .seccion-titulo > p{
  margin: 30px 0;
}

.seccion-contactanos .seccion-titulo ul > li{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;   
}
.seccion-contactanos .seccion-titulo ul > li > svg{
  color: #0092FF;
}

.seccion-contactanos .seccion-titulo > .contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.seccion-contactanos .seccion-titulo > .contacto  svg{
  color: #0092FF;
}
.seccion-contactanos .seccion-titulo > .contacto > p > a{
  border-bottom: 1px solid #0092FF;
  color: #0092FF;
}